@page "/studios/edit/{id:int?}"
@rendermode InteractiveServer
@using MoviePortal.Models.Entities
@using MoviePortal.Components.Shared
@inherits MoviePortal.Components.Pages.StudioEditPage

<h3>@(Id is null ? "Thêm studio" : "Sửa studio")</h3>

@if (Loading) { <p>Đang tải...</p> }
else if (Model is null) { <div class="alert alert-warning">Không tìm thấy.</div> }
else
{
    <StudioForm Model="Model" OnSubmitSuccess="GoBack" OnCancel="GoBack" SaveFunc="SaveAsync" />
}
