name: nouflix

services:
  elasticsearch:
    container_name: nouflix.es-container
    image: docker.elastic.co/elasticsearch/elasticsearch:9.2.1
    environment:
      - xpack.security.enabled=false
      - "discovery.type=single-node"
    networks:
      - es-net
    ports:
      - 9200:9200
    ulimits:
      nproc: 65535
      nofile:
        soft: 65536
        hard: 65536

  kibana:
    container_name: nouflix.kb-container
    image: docker.elastic.co/kibana/kibana:9.2.1
    environment:
      - ELASTICSEARCH_HOSTS=http://nouflix.es-container:9200
    networks:
      - es-net
    depends_on:
      - elasticsearch
    ports:
      - 5601:5601
  
  nouflix.minio:
    image: minio/minio
    container_name: nouflix.minio
    volumes:
      - minio_data:/data
    ports:
      - "9009:9000"
      - "9091:9001"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: nhatcuong04
    command: server /data --console-address ":9001"
    networks:
      - nouflix-net
    
  nouflix.redis:
    image: redis:latest
    container_name: nouflix.redis
    restart: always
    environment:
      - REDIS_PASSWORD=nhatcuong04
    volumes:
      - redis_volume_data:/data
    ports:
      - 6379:6379
    networks:
      - nouflix-net

  nouflix.redis_insight:
    image: redislabs/redisinsight:latest
    container_name: nouflix.redis_insight
    restart: always
    ports:
      - 8001:5540
    volumes:
      - redis_insight_volume_data:/db
    networks:
      - nouflix-net

  mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: nouflix.mssql
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=${SA_PASSWORD}
      - MSSQL_PID=Developer  # Dev miễn phí; production cần license
      - MSSQL_MEMORY_LIMIT_MB=2048
    # Không map port 1433 ra ngoài để an toàn
    volumes:
      - mssql_data:/var/opt/mssql
    healthcheck:
      test: [ "CMD", "/opt/mssql-tools18/bin/sqlcmd", "-S", "localhost", "-U", "sa", "-P", "${SA_PASSWORD}", "-C", "-Q", "SELECT 1" ]
      interval: 10s
      timeout: 3s
      retries: 30
    mem_limit: 3g
    mem_reservation: 1g
    cpus: 1.5
    restart: unless-stopped
    networks:
      - nouflix-net
    
  nouflix.api:
    build:
      context: .. # trỏ tới folder chứa .csproj và Dockerfile
      dockerfile: NouFlix/Dockerfile
    container_name: nouflix.api
    environment:
      - ASPNETCORE_URLS=http://+:8083
      - ASPNETCORE_ENVIRONMENT=Development

      - ConnectionStrings__Default=Server=mssql,1433;Database=MoviePortalDB;User Id=sa;Password=${SA_PASSWORD};Encrypt=True;TrustServerCertificate=True
      - ConnectionStrings__Redis=nouflix.redis:6379,password=${REDIS_PASSWORD},ssl=False,abortConnect=False4

      - Storage__S3__Endpoint=nouflix.minio:9000
      - Storage__S3__PublicEndpoint=minio-nouflix.nhatcuong.io.vn
      - Storage__S3__AccessKey=${MINIO_ROOT_USER}
      - Storage__S3__SecretKey=${MINIO_ROOT_PASSWORD}
      - Storage__S3__UseSSL=false
        
      - Jwt__Key=${JWT_KEY}
      - Jwt__Issuer=${JWT_ISSUER}
      - Jwt__Audience=${JWT_AUDIENCE}

      - Auth__External__Google__ClientId=${GOOGLE_CLIENT_ID}
      - Auth__External__Google__ClientSecret=${GOOGLE_CLIENT_SECRET}
      - Auth__External__Facebook__ClientId=${FACEBOOK_CLIENT_ID}
      - Auth__External__Facebook__ClientSecret=${FACEBOOK_CLIENT_SECRET}
      - Auth__Auth__FrontendBaseUrl=https://nouflix.nhatcuong.io.vn
      - Ffmpeg__Path=/usr/bin/ffmpeg

      - Serilog__WriteTo__Args__nodeUris=http://nouflix.es-container:9200
    ports:
      - "5003:8083"
    depends_on:
      mssql:
        condition: service_healthy
    # Không cần expose port khi dùng Tunnel
    mem_limit: 3g
    mem_reservation: 1g
    cpus: 2.0
    restart: unless-stopped
    networks:
      - nouflix-net
      - es-net

  nouflix.cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: nouflix.cloudflared
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=${CLOUDFLARE_TUNNEL_TOKEN}
    volumes:
      - ./cloudflared:/etc/cloudflared
    depends_on:
      - nouflix.api
      - nouflix.minio
    mem_limit: 128m
    mem_reservation: 64m
    cpus: 0.25
    restart: unless-stopped
    networks:
      - nouflix-net

volumes:
  minio_data:
  redis_volume_data:
  redis_insight_volume_data:
  mssql_data:
  es_data:

networks:
  es-net:
    driver: bridge
  nouflix-net:
    driver: bridge